<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="udacity.gas.com.solveaproblem" >

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddProblem"
            android:label="@string/title_activity_add_problem"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="udacity.gas.com.solveaproblem.MainActivity" />
        </activity>
        <activity
            android:name=".EditProblem"
            android:label="@string/title_activity_edit_problem"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".DetailProblem"
            android:label="@string/title_activity_detail_problem"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="udacity.gas.com.solveaproblem.MainActivity" />
        </activity>
        <activity
            android:name=".AttachmentActivity"
            android:label="@string/title_activity_attachment"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="udacity.gas.com.solveaproblem.MainActivity" />
        </activity>

        <provider
            android:name=".data.ProblemProvider"
            android:authorities="udacity.gas.com.solveaproblem"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="udacity.gas.com.solveaproblem.MainActivity" />
        </activity>
    </application>

</manifest>
